
/*
https://www.behance.net/gallery/38835365/Bold-Leads-Landing-Pages
  i like the drop shadow on the box
  each result in its' own bubble?
  animation for results - unroll from top?
  color scheme - split top/search and results with 2 different colors?
*/
body {
  background-color: #3F51B5;
}

h1 {
	text-align: center;
  padding-top: 20%;
  color: white;
  font-family: sans-serif;
  font-weight: 400;
} 

label {
  font-style: italic;
  color: #C5CAE9;
}

input {
  background-color: white;
  border: 1px solid #757575;
  border-radius: 10px;
  margin: 15px 0;
  height: 20px; /* would like to keep this relative to font size */
  width: 210px; /* would like to keep this relative to label length */
  padding-left: 5px;
}

a {
  color: #C5CAE9; /* ditto */
  text-decoration: none;
}

button {
  background-color: #00BCD4;
  color: white;
  font-size: medium;
  margin: 0 3px;
  border: 2px solid #00BCD4;
  border-radius: 10px; /* prefix -webkit- and -moz- when decided*/
}

summary ::-webkit-details-marker {
  display: none;
  /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */
}

footer {
  position: fixed;
  bottom: 0px;
}

.centered {
	text-align: center;
}

.article { /* the link color here */
  background-color: white;
}

